
*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}


body{
	background-color: white;
	margin: 0;
	padding: 0;
}

h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 32pt;
	margin-bottom: 100px;
	text-align: center;
}

p {
  
   position: relative;
   margin-right: auto;
   margin-left: auto;
   font-family: Helvetica;
   font-size: 16px;
   color: white;
  
}
.container-fluid{
	width:100%;
  padding-left: 20px;
  padding-right:20px;
}

.row{
	margin-right: 20px;
	margin-left: 20px;
  margin-bottom: 40px;
	background-color: #999999;
	border: 2px solid black;
	/*overflow:hidden;*/


}

.section-title{
	width: 30%;
	height:50px;
	float:right;

	border-left: 2px solid black;
	border-bottom:2px solid black;
  	}

.menu{
    
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-size:1.5em ;
  height: 48px;
	color: black;
	
}
.chicken{
	background-color: #D29A96;
}

.pork{
	background-color:#C24745;

}

.fish{
	background-color: #E4D19A;
}
.food{
	clear:both;
	text-align: left;
  padding-left: 15px;
	height: 150px;
}
/******** large device over 992 px only********/

@media (min-width: 992px) {
   .col-lg-4,  .col-lg-6, .col-lg-12 {
    float: left;
    border: 1px /*solid green*/;
  }
  
  .col-lg-4 {
    width: 33.33%;
  }
  
 .col-lg-6 {
    width: 50%;
  } 
  
  .col-lg-12 {
    width: 100%;
  }
}

/******** medium  device between 768- 992 px only********/

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-4,  .col-md-6, .col-md-12 {
    float: left;
    /*border: 1px solid green*/
  }
  
  .col-md-4 {
    width: 33.33%;
  }
  
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}


/******** small device less than 768px only********/

@media ( max-width: 767px) {
   .col-sm-4,  .col-sm-6, .col-sm-12 {
    float: left;
    border: 1px /*solid green*/;
  }
  
  .col-sm-4 {
    width: 33.33%;
  }
  
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
}


